.requirements__container {
  padding: 0 16px;
}

.requirements__title {
  padding: 10px;
}

.requirements__list {
  margin: 8px 0 0 24px;
}

.requirements__list li {
  margin-top: 8px;
}

.requirements__list li:first-child {
  margin: 0;
}
